* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}
ul {
    list-style: none;
    padding: 0;
}
header {
    min-height:100vh;
    background: url(background.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}
main {
    padding: 2em;
    background: #111;
}
main p {
    font-size: 1.1em;
    line-height: 27px;
    color: white;
}
.container, .inner-container {
    margin: 0 auto;
    width: 100%;
}
.container {
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr .5fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;   
}
.inner-container {
    max-width: 1000px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .6em;
    z-index: 10;
    transition: 0.7s;
    color: white;
    box-shadow: 0 1px 5px #000;
    background-color: #11111180;
}
nav .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
nav .container ul {
    width: 100%;
    margin: 0 1em;
}
nav .container ul li {
    display: inline-block;
    margin: 0 0.7em;
}
nav a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: white;
    transition: .3s;
}
nav a:hover {
    color: rgb(113, 103, 176);
}
.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
}
form input,
form button {
  background: none;
  border: none;
  color: #fff;
  outline: none;
  border-bottom: 1px solid white;
}
form button {
    cursor: pointer;
}
form input::placeholder {
    color: white;
}
.container #menu-btn {
    width: 1.5em;
    height: 2px;
    background-color: #fff;
    margin-left: 3em;
}
.container #menu-btn::after{
    content: "";
    position: relative;
    bottom: 2px;
    left: 0;
    width: 1.5em;
    height: 2px;
    background-color: #fff;

}
.menu {
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: .7s cubic-bezier(.74, -.03, .83, .67);
    overflow-y: hidden;
}
nav .menu img {
    width: 10em;
}
.menu ul, .menu form {
    margin: 1em auto;
}
.menu li {
    margin: .5em 0;
}
.menu > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}
.menu > div::-webkit-scrollbar {
    display: none;
}
.menu .social-icons {
    margin: 1em 0;
}
.menu .social-icons li {
    display: inline-block;
    margin: 0 .5em;
}

.menu-open {
    height: 100vh;
    opacity: 1;
}
.navbar-active {
    background-color: #111;
    padding: 1em;
}

/* -----------------Media Queries---------------- */
@media screen and (max-width: 800px) {
    nav .inner-container {
        display: none;
    }
    nav .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .menu form {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 13px;
    }
}
